<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rajesh.chat" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Chatit</name>
    <description>
        Chat App
    </description>
    <author email="rajeshnathani055@gmail.com" href="www.codexive.cf/">
        Rajesh Nathani
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
